{% extends 'LAB/labindex.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/lab_ch_change">
  <p align="center">CHANGE PASSWORD</p>
  <div align="center">
    <table class="table table-bordered table-striped">
        <tr>
            <td width="230"><div align="center"><h6>CURRENT PASSWORD </h6></div></td>
        <td width="224"><div align="center">
          <input type="password" name="textfield" required class="form-control"/>
        </div></td>
      </tr>
      <tr>
          <td><div align="center"><h6>NEW PASSWORD</h6> </div></td>
        <td><div align="center">
          <input type="password" name="textfield2" required class="form-control" />
        </div></td>
      </tr>
      <tr>
        <td><div align="center"><h6>CONFIRM PASSWORD</h6> </div></td>
        <td><div align="center">
          <input type="password" name="textfield3" required class="form-control" />
        </div></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-success" />
        </div></td>
      </tr>
      </table>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;  </p>
</form>
</body>
</html>

{% endblock %}