{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form action="/post_diet_plan" method="post" enctype="multipart/form-data" name="form1" id="form1">#}
{#  <table width="1218" border="1">#}
{#    <tr>#}
{#      <td height="78">Height</td>#}
{#      <td><input type="text" name="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="75">Weight</td>#}
{#      <td><input type="text" name="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="87">Sugar</td>#}
{#      <td><input type="text" name="textfield22" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="82">Cholestrol</td>#}
{#      <td><input type="text" name="textfield23" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="87">Pressure</td>#}
{#      <td><input type="text" name="textfield24" /></td>#}
{#    </tr><tr>#}
{#      <td height="87">Age</td>#}
{#      <td><input type="text" name="age" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="87">type</td>#}
{#     <td>#}
{#                    <select name="type" required>#}
{#                        <option value="" selected>Select</option>#}
{#                        <option value="Loss Weight">Loss Weight</option>#}
{#                        <option value="Gain Weight">Gain Weight</option>#}
{#                        <option value="3">3</option>#}
{##}
{#                    </select>#}
{#                </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="87">upload</td>#}
{#      <td><input type="file" name="diet" /></td>#}
{#    </tr>#}
{#  </table>#}
{#  <p><input type="submit" name="Submit" value="Submit" /></p>#}
{#  <p>&nbsp;</p>#}
{#  <p>&nbsp;</p>#}
{#</form>#}
{#</body>#}
{#</html>#}









{% extends 'admin/admin_data_view_temp.html'%}
{#{% extends 'expert/expertindex.html' %}#}
{% block body %}

<body>
  <form action="/add_diet_chart_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <div class="container">
      <!-- Row 1 -->
      <div class="row mb-3">
{#        <div class="col-md-4">#}
{#          <label for="textfield">Name</label>#}
{#          <input type="text" name="textfield" required id="textfield" class="form-control" />#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#          <label for="textfield2">Date</label>#}
{#          <input type="date" name="textfield2" required id="textfield2" class="form-control" />#}
{#        </div>#}

      </div>

      <!-- Row 2 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="BMI">BMI</label>
          <input type="text" name="BMI" required id="BMI" class="form-control" />
        </div>
        <div class="col-md-4">
          <label for="Alcoholabuse">Alcohol Abuse</label>
          <select name="Alcoholabuse" id="Alcoholabuse" class="form-control">
            <option>Light or social drinkers</option>
            <option>Moderate drinker</option>
            <option>Heavy drinkers</option>
            <option>No Use</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Allergies">Allergies</label>
          <select name="Allergies" id="Allergies" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>

      <!-- Row 3 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Arthritis">Arthritis</label>
          <select name="Arthritis" id="Arthritis" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Asthma">Asthma</label>
          <select name="Asthma" id="Asthma" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Bloodpressure">Blood Pressure</label>
          <select name="Bloodpressure" id="Bloodpressure" class="form-control">
            <option>Low</option>
            <option>Normal</option>
            <option>High</option>
          </select>
        </div>
      </div>

      <!-- Row 4 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Cancer">Cancer</label>
          <select name="Cancer" id="Cancer" required class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Cholestrol">Cholesterol</label>
          <select name="Cholestrol" id="Cholestrol" class="form-control">
            <option>low-density lipoprotein (LDL)</option>
            <option>high-density lipoprotein (HDL)</option>
            <option>Lipoprotein(a) Cholesterol</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Depression">Depression</label>
          <select name="Depression" id="Depression" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>

      <!-- Row 5 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Diabetes">Diabetes</label>
          <select name="Diabetes" id="Diabetes" class="form-control">
            <option>Low</option>
            <option>Normal</option>
            <option>High</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Druguse">Drug Use</label>
          <select name="Druguse" id="Druguse" class="form-control">
            <option>stimulants</option>
            <option>narcotics</option>
            <option>sedatives</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Gender">Gender</label>
          <select name="Gender" id="Gender" class="form-control">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
      </div>

      <!-- Row 6 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Headaches">Headaches</label>
          <select name="Headaches" id="Headaches" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Heartproblem">Heart Problem</label>
          <select name="Heartproblem" id="Heartproblem" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Kidney">Kidney</label>
          <select name="Kidney" id="Kidney" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>

      <!-- Row 7 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Liver">Liver</label>
          <select name="Liver" id="Liver" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Obicity">Obesity</label>
          <select name="Obicity" id="Obicity" class="form-control">
            <option>Normal</option>
            <option>OverWeight</option>
            <option>Obesity</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Pregnancy">Pregnancy</label>
          <select name="Pregnancy" id="Pregnancy" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>

      <!-- Row 8 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Smoking">Smoking</label>
          <select name="Smoking" id="Smoking" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Stroke">Stroke</label>
          <select name="Stroke" id="Stroke" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>

          <div class="col-md-4">
          <label for="textfield3">Diet Chart</label>
          <input type="file" name="fileField3" required id="textfield3" class="form-control" />
        </div>

      </div>

      <!-- Submit and Cancel Buttons -->
      <div class="row mb-3">
        <div class="col-md-12 text-center">
          <input type="submit" name="button" id="button" value="Submit" class="btn btn-success" />
          <input name="" type="button" value="Cancel" class="btn btn-danger" />
        </div>
      </div>
    </div>
  </form>
</body>

{% endblock %}




