{% extends 'HOSPITAL/hospitalindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-striped">
      <tr>
      <td><div align="center"><a href="hs_add_dr">ADD DOCTOR </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="hs_mng_dctr">MANAGE DOCTOR</a></div></td>
    </tr>
{#      <tr>#}
{#      <td><div align="center"><a href="hs_add_dr_sc">ADD DOCTOR SCHEDULE</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="hs_mng_dr_sc">MANAGE DOCTOR SCHEDULE</a></div></td>#}
{#    </tr>#}
    <tr>
      <td><div align="center"><a href="hs_view_bkng">VIEW BOOKINGS </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="hs_view_rvw">VIEW REVIEWS </a></div></td>
    </tr>
{#      <tr>#}
{#      <td><div align="center"><a href="hs_view_complaint">VIEW COMPLAINTS </a></div></td>#}
{#    </tr>#}
    <tr>
      <td><div align="center"><a href="hs_ch">CHANGE PASSWORD </a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="/">LOGOUT </a></div></td>
    </tr>
  </table>
</form>
</body>
</html>

{% endblock %}
