{% extends 'HOSPITAL/hospital_data_view_temp.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p>COMPLAINTS </p>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-striped">
    <tr>
      <td>sno</td>
      <td>User</td>
      <td>complaint</td>
      <td>date</td>
    </tr>

      {% for i in data %}
    <tr>
     <td>{{ forloop.counter }}</td>
     <td>{{ i.USER.name }}</td>
     <td>{{ i.complaint }}</td>
     <td>{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
{% endblock %}