
{% extends 'HOSPITAL/hospital_data_view_temp.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">PATIENT DETAILS
  </div>
    <table class="table table-bordered table-striped">


      <td width="410"><div align="center">PATIENT NAME</div></td>
      <td width="404"><div align="center">EMAIL</div></td>
      <td width="404"><div align="center">DOB</div></td>
      <td width="426"><div align="center">PLACE</div></td>
      <td width="426"><div align="center">PH NO.</div></td>
      <td width="426"><div align="center">POST</div></td>
      <td width="426"><div align="center">PIN CODE</div></td>
    </tr>
        {% for i in data %}

    <tr>
      <td>{{ i.USER.name }}</td>
      <td>{{ i.USER.email }}</td>
      <td>{{ i.USER.dob }}</td>
      <td>{{ i.USER.place }}</td>
      <td>{{ i.USER.phone }}</td>
      <td>{{ i.USER.post }}</td>
      <td>{{ i.USER.pin }}</td>

    </tr>
        {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
